@use 'font' as *;
@use 'var' as *;

body{
    font-family: $font;
    font-weight: 400;
    background-color: 1F2023;
}

a {
    color: $light;
    text-decoration: none;
}

.header{
    background-color: $accent;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 71px;
    position: relative;
    &::before{
        content: '';
        background-color: $accent;
        display: block;
        width: 100%;
        height: 27px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 24px;
        bottom: -24px;
        background-image: url(../images/headerBottom.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__logo{
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 10px 0 0 0;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            bottom: -24px;
            background-image: url(../images/headerBottomLeft.svg);
            background-size: contain;
            background-repeat: no-repeat;
            left: 0;
        }
        &::after{
            content: '';
            display: block;
            width: 71px;
            height: 71px;
            background-image: url(../images/headerLeft.svg);
            position: absolute;
            right: -71px;
            top: 0;
        }
    }
    &__link{
        color: $light;
        font-size: 20px;
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        &::after{
            content: '';
            display: block;
            width: 71px;
            height: 71px;
            background-image: url(../images/headerRight.svg);
            position: absolute;
            left: -71px;
            top: 0;
        }
            &::before{
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            bottom: -24px;
            background-image: url(../images/headerBottomRight.svg);
            background-size: contain;
            background-repeat: no-repeat;
            right: 0;
        }
    }
}

.container{
    width: 100%;
    max-width: 1830px;
    margin: 0 auto; //по центру
    padding-left: 15px;
    padding-right: 15px;
}
.banner{
    display: flex;
    background-image: url('../images/bg_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}

